.main {

	z-index: 10;
}

.MainBG {

	background-color: #212121!important;
}

.WhiteText {

	color: #fff;
}

.navbar, .navbar.bg-dark {

	box-shadow: none;
}

.card-title {

	color: #212121;	
}

.MainBg .card-title {

	color: #fff;
}

.MainBg h4 {

	color: #93e0e3;
}

.Fixed {

	position: fixed;
	width: 100%;
	display: block;
}

.MainTitleArea {

	z-index: 9;
}

.MainTitle {

	font-size: 80px;
}

.BottomArrow {

	transform: translate3d(0,20vh,0);
}


.btn.btn-info, .btn.btn-info:hover, .btn.btn-info:focus {

	box-shadow: none;
}

.text-info {
	color: #00bcd4;
}

.CustomMargin {

	margin-top: 90px;
}

footer {

	z-index: 10;
	position: relative;
}

@media (max-width: 992px) {

	.CustomMargin {

		margin-top: 0;
	}
}

@media (max-width: 768px) {

	.MainTitle {

		font-size: 62px;
	}
}