@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .3s ease-out;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  color: #313131;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: none;
  -webkit-appearance: none;
}

button:active {
  transform: scale(.9);
}

a {
  text-decoration: none;
  color: inherit;
}

